header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 5rem;

    & h1, p{
        text-align: center;
    }

    & nav{
        width: 20rem;
        display: flex;
        justify-content: space-between;
    }

}