#hero{
    width: 40rem;
    margin-left: 30%;
    text-align: center;
}

.link{
    margin-block: 2rem;
    display: flex;
    justify-content: center;
}

.heroimagens{
    margin: 1rem;
    padding-left: 5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
}

